.DS_Store
.vscode/
__pycache__/
som/
checkpoints/*
.ipynb_checkpoints/
false/*

results/*
wandb/*

# logs from euler
*.err
*.out

# optuna databases
*.db

reconnect_info

build/*
dist/*
*.egg-info/
*/bin/*
*/lib/*

src/false/*
lightning_logs/*
meowtrix-purrdiction/*
